body{
    color: whitesmoke; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 14pt; background-color:black;
}
#first{
    color:deeppink;
}
.second{
    color:blue; font-size:medium;
}
.third{
    color:deeppink;
}
.forth {
    color:cornflowerblue;
}
.six{
    color:whitesmoke; font-size:smaller;
}
.seven{
    font-family:initial;
}
.eight{
    font-size: 10pt;
}
