body {
    font-family: 'Times New Roman', Times, serif;
}
header {
    background-color:orange;
}
nav { 
   background-color:bisque; 
   display: flex;
   justify-content: space-around;
}
nav a {
    display: block;
    padding: 8px 15px; 
    color:black;
    text-decoration: none;
}

.sidebar {
    width: 30%;
}
.container{
    display:flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    gap: 40px;
}
.left{
    width: 30%;
}
.row {
    display: flex;
    justify-content: space-between;
}

.image {
    border: thin solid black;
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 50%);
    margin: 5px;
    text-align: center;
}
.image1 {
    width:100%;
    border: thin solid black;
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 50%);
    margin: 5px;
}

.image1 img{
    width: 100%;
}
.image img {
    width: 100%;
}
@media only screen and (max-width: 650px) {
   nav{
    flex-direction: column;
   }
   .container{
    flex-direction: column-reverse;
   }
   
   nav a{
    border-bottom: thin solid white;
   }
   .row{
    flex-wrap: wrap;
   }
  .image {
    width: 100%;
  }
  .image-main{
    order: -1;
  }
  .sidebar{
    width: 100%;
  }
}
    
