body {
    font-family:Georgia, Times, 'Times New Roman', serif;
}
header {
    background-color:orange;
    color: white;
}
#myVideo{
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-height: 300px;
  }

nav { 
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

nav a {
    color:rgb(209, 164, 82);
    padding: 10px 5px; 
    border-bottom: 3px solid transparent;
}

.current{
    color: brown;
    border-bottom: 3px solid brown;
}

.btn{
    transition-property: background-color;
    transition-duration: 0.3s;
}

.btn:hover {
    background-color:beige;
    color:orange; 
}
footer{
    margin-top: 30px;
    background-color: rgb(47, 47, 199);
    text-align: center;
}

.paragraph{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.row {
    display: block;
    text-align: center;
}

.page3 {
    display:flex;
    justify-content: space-around;
    margin:10px;
}
.image {
    width:600px;
    border: thin solid black;
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 50%);
    margin: 5px;
}
.image1{
    width:600px;
    border: thin solid black;
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 50%);
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
.image img, .image1 img{
    width: 100%;
}

.form-row, .check-row{
        display: flex;
        margin: 10px 0;
        gap: 10px;
        font-size: medium;
        color: rgb(104, 97, 97);
    }
    
    .form-row label {
        width: 150px;
        text-align: right;
    }
.form-row select{
    font-size: 0.4cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    fieldset{
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding:10px;
        border-radius: 10px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    
    legend{
        border: thin solid black;
        background-color:white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px black;
    }
    .link{
        font-style: italic;
        font-size: 0.4cm;
    }
    input:not([type='submit']), select, textarea {
        padding: 1px;
        border-radius: 3px;
        font-size: 0.6cm;
        color:black;
    }
    
    input:not([type='submit']):focus, select:focus, textarea:focus {
        background-color: white;
    }
    
    input[type='submit'] {
        padding: 10px 20px;
        background-color:orange;
        color:white;
        border-radius: 10px; 
        box-shadow: 2px 2px 2px black;
    }
    .spacer {
        width: 150px;
        text-align: right;
    }
    .title{
        font-size: larger;
        margin: 10px;
    }
    .list{
        font-style: oblique;
    }
    .schedule {
        margin: 5px auto;
        border: thin solid black;
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    .schedule td , .schedule th {
     border: thin solid wheat;
     padding: 5px
    }
    
    .schedule thead, .schedule tfoot {
        background-color:orange;
        color: white;
    }
    
    .schedule tbody tr:nth-child(even) {
        background-color:wheat;
    }
@media only screen and (max-width: 650px) {
   body{
    font-size: 0.8cm;
   }
   nav{
    flex-direction: column;
   }

   nav a{
    border-bottom: thin solid white;
   }

.current{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

   header video{
    width:100%;
   }
.page3{
    flex-wrap: wrap;
   }
.image {
    width: 100%;
  }

.image1 {
    width:90%
}
.image-main{
    order: -1;
  }

.fieldset {
    width: 90%;
    margin:auto;
    padding: 10px;
}

.form-row, .check-row {
    flex-direction: column; 
    width: 100%;
}

.form-row label, .spacer {
    width: 100%; 
    text-align: left; 
}

input:not([type='submit']), select, textarea {
    width: 98%; 
    font-size: 0.8cm; 
}

form input[type='submit'] {
    width: 100%; 
}
}